<div class="bar  bg-grey " style="height: 44px">
    <button class="button  button-icon icon ion-chevron-left color-white" onclick="javascript:history.back(-1);"></button>
    <h1 class="title color-white font-15">登&nbsp;&nbsp;&nbsp;录</h1>
</div>

<ion-view hide-tabs="true">
    <ion-content class=" stable-bg padding-top ">
        <div class="padding-top padding-bottom">
            <div class="item ">
                <input class="font-15 width-100 " type="text" placeholder="请输入用户名" style="font-size: 1em" ng-model="user.userName">
            </div>
            <div class=" item top-30 ">
                <input class="font-15 width-100 " type="text" placeholder="请输入密码"  style="font-size: 1em" ng-model="user.password">
            </div>
        </div>
        <div class="top-30 ">
            <button class="button button-full bg-grey color-white font-15" ng-click="login()">确&nbsp;&nbsp;&nbsp;认</button>
        </div>

        <div class="item item-borderless text-center top-30 stable-bg">
            <p >没有账号？马上<a class="energized" ui-sref="page.register">注册</a></p>
        </div>
    </ion-content>
</ion-view>
<div class="bar bar-footer stable-bg">
    <h1 class="title font-15">  -----   黑舞堂冷饮店   -----</h1>
</div>