.cart-footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0
}
.cart-footer button{
   border: none;
    font-family: "Microsoft YaHei";
    font-size: 1em;
}
.col-height{
    height: 150px;
}
.col-height div{
    width: 100px;
    height: 100px;
    margin-left: 18%;
    padding-top: 12%;
}
.col-height div i{
    font-size: 4em;
}
.position-bottom{
    position: fixed;
    bottom: 0;
}
.energized-bg .title{
    font-size: 1.4em;
    font-family: "Microsoft YaHei";
}
.row .col-25 select{
    width: 100px;
    height: 30px;
    font-size: 1.1em;
    font-family: "Microsoft YaHei";
}
.float-right strong span{
    width: 20px;
    height: 15px;
    display: inline-block;
}
.item-thumbnail-left .padding-top .float-right strong{
    width: 75px;
    height: 27px;
    float: right;
}
