<footer class="contentBg">
    <div class="row">
        <div class="col-xs-3 text-center">
            <i class="glyphicon glyphicon-home img-circle icon"></i>
            <div class="glyphicon-class">首页</div>
        </div>
        <div class="col-xs-3 text-center">
            <i class="glyphicon glyphicon-shopping-cart img-circle  icon"></i>
            <div class="glyphicon-class">购物车</div>
        </div>
        <div class="col-xs-3 text-center">
            <i class="glyphicon glyphicon-user img-circle  icon"></i>
            <div class="glyphicon-class">用户中心</div>
        </div>
        <div class="col-xs-3 text-center">
            <i class="glyphicon glyphicon-credit-card img-circle  icon"></i>
            <div class="glyphicon-class">我的订单</div>
        </div>
    </div>
</footer>
