.box-large{
    width: 100%;
    height: 260px;
}
.detail-button{
    padding: 0;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    border: none;
}
.detail-button button{
    font-family: "Microsoft YaHei";
    color: white;
    font-weight: bold;
    border: none;
}

