<div class="bar  bg-grey " style="height: 44px">
    <button class="button  button-icon icon ion-chevron-left color-white" onclick="javascript:history.back(-1);"></button>
    <h1 class="title color-white font-15">购&nbsp;物&nbsp;车</h1>
    <!--<button class="button float-right font-15 bg-grey color-white" style="width: 70px;height: 35px;font-size: 1.1em" ng-click="clearAll()">清&nbsp;空</button>-->
</div>
<ion-view  hide-tabs="true">
    <ion-content style="margin-bottom: 44px">
        <div class="padding text-center" style="position: absolute;top: 100px;width: 100%" >
            <em class="font-12"><strong>{{carttips}}</strong></em>
        </div>
        <ion-list >
            <ion-item class="item-thumbnail-left " ng-repeat="item in productlist">
                <img src="img/pic1.png" alt=""/>

                <div class="padding-top font-13">

                    <span class="" style="float: left">{{item.name}}</span>

                    <div class="float-right">
                        <strong>
                            <i class="ion-plus-round" ng-click="adding(item.id)"></i>
                            <span>{{item.count}}</span>
                            <i class="ion-minus-round" ng-click="decrease(item.id)"></i>
                        </strong><br><br>
                        <span class="assertive">{{item.price| currency:"￥"}}</span>
                    </div>
                </div>
            </ion-item>
            <!--<ion-item class="item-thumbnail-left " >-->
                <!--<img src="img/pic1.png" alt=""/>-->
                <!--<div class="padding-top font-13" >-->
                    <!--<span class="" style="float: left">原味奶茶</span>-->
                    <!--<div class="float-right">-->
                        <!--<strong>-->
                            <!--<i class="ion-plus-round"></i>-->
                            <!--<span>1</span>-->
                            <!--<i class="ion-minus-round"></i>-->
                        <!--</strong><br><br>-->
                        <!--<span class="assertive">￥5.00</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ion-item >-->
            <!--<ion-item class="item-thumbnail-left " >-->
                <!--<img src="img/pic1.png" alt=""/>-->

                <!--<div class="padding-top font-13" >-->

                    <!--<span class="" style="float: left">原味奶茶</span>-->

                    <!--<div class="float-right">-->
                        <!--<strong>-->
                            <!--<i class="ion-plus-round"></i>-->
                            <!--<span>1</span>-->
                            <!--<i class="ion-minus-round"></i>-->
                        <!--</strong><br><br>-->
                        <!--<span class="assertive">￥5.00</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</ion-item >-->
        </ion-list>
    </ion-content>
    <div class=" row bar cart-footer font-13 text-center" >
        <div class="col col-70  bg-grey  padding-top light" >总计：{{total}}</div>
        <button class="col col-30   energized-bg  light"  id="orderSubmit" ng-click="submit()">提交订单</button>
    </div>
</ion-view>



