<div class="bar  bg-grey " style="height: 44px">
    <button class="button  button-icon icon ion-chevron-left color-white"></button>
    <h1 class="title color-white font-15">确认订单</h1>
</div>
<ion-view hide-tabs="true">
    <ion-content>
        <div class="stable-bg">
        <div class="padding">
                <strong class="font-13">配送地址</strong>
        </div>
        <div class="row">
            <div class="col-25">
                <select >
                    <option value="云南">云南</option>
                </select>
            </div>
            <div class="col-25 col-offset-10">
                <select >
                    <option value="">昆明</option></select>
            </div>
            <div class="col-25 col-offset-10 ">
                <select id="sect"  ng-options="option.name as option.name for option in town" ng-model="choice" ng-change="select(choice)">
                    <!--<option value="五华区">五华区</option>-->
                    <!--<option value="盘龙区">盘龙区</option>-->
                    <!--<option value="官渡区">官渡区</option>-->
                    <!--<option value="西山区">西山区</option>-->
                </select>
            </div>

        </div>
        <div class="item item-input">
            <input class="font-15 width-100 " type="text" placeholder="请输入详细地址" style="font-size: 1em" ng-model="HouseAddress.HouseAddress">
        </div>
        </div>
        <h3 class="font-15">
            两公里以内可享受免费配送服务，超出按每公里加收10元配送费
        </h3>
        <div>
            <h3 class="font-15">
                您可以在此上传一张照片或者输入一句祝福语送给心目中的他（她）哦！（照片或者祝福语是贴于杯身外侧的）
            </h3>
            <div class="row text-center">
                <div class="col col-height text-center">
                    <div class="stable-bg">
                        <i class="ion-android-mail"></i>
                    </div>
                </div>
                <div class="col col-height">
                    <div class="stable-bg">
                        <i class="ion-camera"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item-borderless font-12"><strong>配送费:￥</strong><strong>5</strong></div>
        <div class="bar text-center energized-bg light">
          <h1 class="title"><span>订单总额：￥</span><span>{{TotalPrice}}</span></h1>
        </div>
        <button class="button button-block bg-grey light font-15 " style="margin-top: 50px" ng-click="createOrder()">确&nbsp;&nbsp;&nbsp;&nbsp;定</button>
    </ion-content>

</ion-view>