*{
    font-family: 'Microsoft YaHei';
    font-size: 30px;
}

.contentBg{
    background-color: rgb(35,24,22);
}

.mainBg{
    background-color: rgb(244,244,244);
}

header{
    width: 100%;
    min-height: 90px;
    position: fixed;
    top: 0;
    z-index: 10000;
}

header .content{
    width: 600px;
    height: 80px;
    margin: 0 auto;
    color: white;
    z-index: 10000;
}

header.home{
    height: 210px;
    z-index: 10000;
}

footer{
    width: 100%;
    height: 130px;
    position: fixed;
    bottom: 0;
    color: white;
    padding-top: 20px;
}

.glyphicon-class{
    display: block;
    text-align: center;
    word-wrap: break-word;
}

.icon{
    width: 50px;
    height: 50px;
    background-color: white;
    color:rgb(35,24,22);
    line-height: 50px;
}
.home .main{
    margin-top: 280px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
.main{
    padding-top: 10px;
    margin: 100px auto 130px;
    width: 640px;
    padding-right: 0;
    padding-left: 0;
}

.pItem{
    width: 300px;
    height: 420px;
    display: block;
    text-align: center;
    word-wrap: break-word;
}

.pItem a{
    color: black;
}
footer a{
    color: white;
}

.price{
    color: red;
}

.pImage{
    width: 100%;
    min-height: 500px;
}

.m-t-b{
    margin-top: 20px;
    margin-bottom: 10px;
}

p{
    word-wrap: break-word;
    word-break: normal;
}

button.submit{
    height: 80px;
    background-color:  rgb(35,24,22);
    font-family: 'Microsoft YaHei';
    font-size: 30px;
    color: white;
    border: none;
    margin-top: 92px;
}

input{
    border-radius: 0px;
}

/*fix*/
.form-group-lg .input-group-lg{
    height: 90px;
    font-family: 'Microsoft YaHei';
    font-size: 22px;
}

.form-group{
    margin-bottom: 55px;
    font-family: 'Microsoft YaHei';
    font-size: 22px;
}

.text-yellow{
    color: rgb(255,191,37);
}

.m-t{
    margin-top:50px;
}
.pos-fix{
    position: fixed;
}
.pos-fix.bottom{
    bottom:0;
    color: rgb(35,24,22);
    font-size: 30px;
    width: 100%;
}
.cart-line{
    height: 150px;
    line-height: 150px;
}
.cart-line div:last-child{
    padding-left: 50px;

}
.pThumbnail{
    width: 100px;
    height: 100px;
}

.border-bottom{
    border-bottom: solid grey 1px;
}
.pos-fix.bottom.contentBg{
    color: white;
    height: 80px;
    line-height: 70px;
}

.pos-fix.bottom.contentBg button{
    width:100%;
    height: 80px;
    background-color: rgb(255,191,37);
    border: none;
}

.img-box{
    width: 200px;
    height: 180px;
    background-color: rgb(224,223,223);
    text-align: center;
    color: rgb(35,24,22);
    line-height: 9;
}

.yellowBg{
    background-color: rgb(255,191,37);
    color: white;
}
.totalPrice{
    height: 150px;
    padding: 10px 0;
}
.avatar{
    height: 400px;
    padding-top: 100px;
}
.avatar .img{
    width: 200px;
    height: 200px;
    background: white;
    border-radius: 50%;
}
.avatar i{
    position: absolute;
    top: 150px;
    font-size: 80px;
    left: 280px;
}
.menu{
    height: 590px;
    width: 100%;
}

.menuItem{
    height: 100px;
    line-height: 60px;
}
.menuItem i{
    font-size: 70px;
    color: white;
    line-height: 90px;
}
.carousel-control{
    background: none;
}
.carousel-control.left,.carousel-control.right {
    background: none;
}

.pItem span.shoping {
    width: 70px;
    height: 70px;
    background-image: url(../static/shopping.png);
    background-size:cover ;
    position: absolute;
    top: 240px;
    left: 230px;
}
.detail .row:first-child{
    line-height: 30px;
    padding-bottom: 10px;
}.arrow-down {
    width: 100%;
    height: 0;
    border-left: 320px solid transparent;
    border-right: 320px solid transparent;
    border-top: 100px solid rgb(35,24,22);
    position: absolute;
    bottom: -70px;
}
.detail{
    border-top:solid 1px black;
}

.item.pthumbnail img{
    width: 640px;
    max-height: 480px;
}

/*about*/
.about_Introduce{
    padding-top: 40px;
    padding-bottom: 60px;
}
.about_Introduce p{
    margin-top: 40px;
}
.aboutAddress{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}
.about_content{
    margin: 100px auto 130px;
    width: 640px;
}
.about_content div img{
    width: 100%;
    height: auto;
}
/*userIndex*/
.user-offset .form-group-lg .form-control{
    font-size: 30px;
}
.couponBg{
    background:url("../static/coupon.png");
    padding: 36px 24px 32px 34px;
    margin-top: 30px;
}
.couponBg div p{
    font-size: 23px;
}
.couponBg div p span{
    font-size: 3.5em;

    margin-left: 4px;
}
.div-float-right{
    float: right;
}
.div-opacity{
    opacity: 0.5;
}